Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Sql
3. Julia

**Objectives:**
- list languages
- list libraries
- create table

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

|Data Science Tools|
|------------------|
|JupyterLab        |
|nteract           |
|VS Code           |

Below are a few examples of evaluating arithmetic expressions in Python
# addition
## subtraction
### multiplication

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

Author
## JÃ¶rg